.navbar {
    height: 90px;
    border-bottom-style:solid;
    border-bottom-width: thin;
    padding: 0;
    position: relative;
    background-color: #F2f2f2;
}

.logo {
    position: absolute;
    top: 38px;
}

.submenu {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 30px;
    width: 200px;
}

.submenuLink {
    text-decoration: none;
    color: #090909;
    padding-left: auto;
    padding-right: auto;
}

.submenuLink:hover {
    text-decoration: solid;
}

.css-3kfke8-MuiGrid-root {
    width: 100vw !important;
}
